
html, #main-window {
    background-color: rgba(25, 25, 25, 0.5) !important;
}

/* Transparency */
toolbar, toolbox, /* Top bar */
#tabbrowser-tabbox, #tabbrowser-tabpanels /* Browser */ {
    background: transparent !important;
}

#customizableui-special-spring1,
#customizableui-special-spring2 {
    max-width: unset !important;
}

#urlbar-container {
    max-width: 50% !important;

    #urlbar {
        #urlbar-background {
            background-color: rgba(25, 25, 25) !important;
            box-shadow: black 1px 1px 5px;
            border: none !important;
            opacity: 0.3;
            outline: none !important;
        }

        &:is([open]) #urlbar-background {
            opacity: 1;
        }

        #identity-box.chromeUI #identity-icon-box {
            background-color: rgba(100, 100, 100, 0.15) !important;

            &:hover {
                background-color: var(--urlbar-box-hover-bgcolor) !important;
            }

            &:is(:hover:active, [open]) {
                background-color: var(--urlbar-box-active-bgcolor) !important;
            }
        }

        #pageAction-urlbar-_testpilot-containers,
        #reader-mode-button,
        #star-button-box,
        #tracking-protection-icon-container,
        .search-one-offs {
            display: none !important;
        }
    }
}

#nav-bar {
    padding: 4px 0 3px 0 !important;
}

#navigator-toolbox {
    border-bottom: none !important;
}

/* Hide horizontal tabs */
#TabsToolbar {
    display: none !important;
}


/* Sidebar */
#sidebar-box, #webextpanels-window {
    background-color: transparent !important;
}

#sidebar-splitter {
    display: none !important;
}

@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar.html") {
    :root, .root, #root {
        background-color: transparent !important;
        --frame-bg: transparent !important;
    }

    #nav_bar {
        background-color: transparent !important;
    }
}